language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '12'
before_script:
  - npm prune
install:
  - npm install
script:
  - npm run lint
  - npm run build
  - npm run coveralls
after_success:
  - npm run semantic-release
branches:
  only:
    - master
